@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,900&display=swap');

/*for all*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #6be912;
    --text-color: #f8ff2b;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Fira Sans Condensed', sans-serif;
    background-color: #747070;
    color: #fff;
    
}

/*Common style*/
img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 30px;
    margin-right: 100px;
}

a{
    text-decoration: none;
    color: #fff;
}

#profile_description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.info_content1{
    color: #21a5e2;
    font-weight: 450;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    display: block;
    text-transform: uppercase;
}

.info_content2{
    color: #21a5e2;
    font-weight: 450;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    display: block;
    text-transform: uppercase;
}

.ref_name{
    margin-top: .1rem;
    line-height: 1.2;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:var(--text-color);
}

.ref_name1{
    margin-top: .1rem;
    line-height: 1.2;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:#ea6826;
    font-weight: 700;
}

.ref_name2{
    margin-top: 2.5rem;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:#ea6826;
    font-weight: 700;
}

.ref_name3{
    line-height: 1.2;
    margin-left: 3rem;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:var(--text-color);
}



/*Container*/
.container{
    max-width: 1000px;
    width:90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: #000000;
    grid-template-columns: 28% 27% 45%;
    gap: 4rem;
}

.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.profile_container{
    display: flex;
    gap: 1rem;
}

.profile_profileImg{
    max-width: 250px;
}

/*lines*/
#line1{
    width: 78%;
    margin-left: 4.5rem;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
}

#line2{
    width: 16%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-left: 4.5rem;
    margin-top: 3px;
    margin-bottom: 2rem;
}

#line3{
    width: 42%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 2rem;
}

#line4{
    width: 29%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 2rem;
}

#line5{
    width: 47%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 2rem;
}

#line6{
    width: 29%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 2rem;
}

#line7{
    width: 69%;
    border: 1.5px solid rgb(255, 255, 255);
    margin-top: 3px;
    margin-bottom: 2rem;
}

/*Upper part*/
.profile{
    background-color: rgb(60, 8, 8);
    margin-left: -5.1%;
    margin-right: 3%;
    margin-top: -5%;
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 0.5%;
    background-attachment: fixed;
    background-position: center;
}

#profile_name{
    color: var(--primary-color);
    font-weight: 500;
    font-size: clamp(.5rem, 5.5vw, 5rem);
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
    margin-left: 4.5rem;
}

.profile_title{
    color: #fff;
    font-weight: 400;
    font-size: clamp(.5rem, 3.3vw, 3rem);
    display: block;
    padding-top: 5px;
    margin-bottom: 2.188rem;
    margin-left: 4.5rem;
}

.profile_content{
    color: #21a5e2;
    font-weight: 450;
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    display: block;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 2px;
    margin-left: 4.5rem;
}

.profile_description{
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    text-align: justify;
    color:var(--text-color);
    margin-left: 4.5rem;
    margin-right: 8rem;
}

/*first column*/
.info-1{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.cons{
    margin-top: .1rem;
    line-height: 1.2;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:var(--text-color);
    line-height: 1.8;
}

.skills_description{
    margin-top: .1rem;
    margin-left: 5rem;
    line-height: 1.5;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:var(--text-color);
}

/*third column*/
.info-2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/*second column*/
.info-3{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

table{
    line-height: 1.2;
    font-size: clamp(.5rem, 2.5vw, 1.7rem);
    color:var(--text-color);
}

/*small device*/
@media only screen and (max-width: 768px){
    #line1, #line2, #line3, #line4, #line5, #line6, #line7{
        width: auto;
    }

    .profile{
        background-attachment: fixed;
        background-position: center;
            margin-left: -5.1%;
            margin-right: -12%;
            margin-top: -12%;
            padding-bottom: 10%;
            padding-top: 3%;
            padding-left: 6%;
            padding-right: 16%;

    }

    .container{
        width: 100%;
        grid-template-columns: 100%;
        padding-left: 2rem;
        gap: 3rem;
    }

    .profile_container{
        flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
    }

    .profile_profileImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;      
    }

    #profile_name{
        text-align: center;
    }

    .profile_title{
        text-align: center;
    }

    .profile_content{
        
    }

    .profile_description{
        font-size: clamp(.5rem, 2.5vw, 1.7rem);
        text-align: justify;
        color:var(--text-color);
        margin-left: 4.5rem;
        margin-right: 0rem;
    }

    .contacts, .reference, .personal_data, .skills, .education{
        color: #21a5e2;
        font-size: clamp(.5rem, 3.5vw, 2.5rem);
        display: block;
        margin-left: 4.5rem;    
    }

    .small{
        text-align: center;
    }

    table{
        margin-left: auto;
        margin-right: auto;
    }

    ul{
        display: inline-block;
        text-align: left;
    }

    .small2{
        margin-left: 7rem;
        margin-right: 7rem;
    }

    
}





